/**
 * URL-maker
 * @name URL-maker
 * @author Baptiste Lemoine - http://artlemoine.com
 * @version 1
 * @date August 06, 2011
 * @category web application
 * @example Visit http://artlemoine.com/medias/apps/url-maker/demo
 */
body {
    font-family: Euphemia, Calibri, Arial;
    background: #0A2633;
    font-size: 1em;
}

#main {
    background: #D5DBE5;
    border: 2px solid #595959;
    border-radius: 10px 10px 10px 10px;
    display: block;
    margin: 0 auto;
    padding: 5px;
    width: 80%;
    max-width: 100%;
    min-width: 550px;
    min-height: 1000px;

}

.bouton_copier {
    border-radius: 3px;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    /*position:absolute;*/
    top: 100px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 15px #ccc;
}

.bouton_copier:hover {
    border: 2px grey solid;
}